* {
    padding: 0;
    margin: 0;
}
.div1 {
    height: 300px;
    width: 100px;
    border: solid 4px;
    position: absolute;
    float: left;
}

.div2 {
    height: 300px;
    width: 100px;
    border: solid 4px;
    position: absolute;
    float: left;
}

.div3 { 
    height: 300px;
    width: 100px;
    border: solid 4px;
    position: absolute;
    float: left;
}

.div4 {
    height: 300px;
    width: 100px;
    border: solid 4px;
    position: absolute;
    float: left;
}